footer {
	background-color: var(--footer-background-color);
	padding-top: 50px;
	padding-bottom: 50px;
}
.marks {
	max-width: 1240px;
	height: 20px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin-bottom: 25px;
	.span {
		font-size: 14px;
		margin-right: 15px;
	}
	&-list {
		display: flex;
		flex-direction: row;
		gap: 15px;
		padding: 0;
		li {
			list-style-type: none;
			a {
				padding: 0;
				text-decoration: none;
				color: var(--footer-primary-text);
				font-size: 14px;
			}
		}
	}
}
.columns {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	max-width: 857px;
	padding: 0 45px;
	.column1,
	.column2,
	.column3 {
		display: flex;
		flex-direction: column;
		&-list {
			display: flex;
			flex-direction: column;
			padding: 0;
			margin: 0;
			li:not(:last-child) {
				margin-bottom: 25px;
			}
			li {
				list-style-type: none;
			}
			a {
				text-decoration: none;
				color: var(--footer-primary-text);
				font-size: 14px;
			}
		}
	}
}
.description {
	width: 300px;
	display: flex;
	margin: 0 auto;
	margin-top: 20px;
	&-list {
		display: flex;
		flex-direction: row;
		gap: 20px;
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			a {
				padding: 0;
				text-decoration: none;
				color: var(--footer-primary-text);
				font-size: 14px;
			}
		}
	}
}
.year {
	display: flex;
	width: 120px;
	margin: 0 auto;
	color: var(--secondary-text);
	font-size: 14px;
	margin-top: 15px;
}

@media (max-width: 950px) {
	.marks {
		display: none;
	}
}
@media (max-width: 580px) {
	footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.columns {
		display: none;
	}
}
