.button {
	border-radius: 5px;
	text-align: center;
	border: none;
	cursor: pointer;
	font-size: 20px;
	transition: background 0.25s;
	color: var(--primary-text-light);
}
.base {
	height: 48px;
}
.mobile {
	height: 30px;
	font-size: 16px;
}
.primary {
	background-color: var(--primary);
	&:hover {
		background-color: var(--primary-hover);
	}
}
.secondary {
	background-color: var(--background-button-second);
	&:hover {
		background-color: var(--background-button-second-hover);
	}
}
