.header {
	height: 87px;
	background-color: var(--primary-text);
	&-container {
		height: 100%;
		max-width: 1240px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			display: flex;
			padding-left: 25px;
			margin-right: 27px;
			cursor: pointer;
		}
	}
}
